  <div class="fundo-azul">
    <img class="imagem1" style="height: 300px;" src="./assets/imagem1.png" alt=" ">
    <div class="texto">

      <h1 class="titulo">Portal Aprendiz</h1>

      <nav class="opcoes">
        <ul>
          <li><a class="button" routerLink="/cursos">Cursos</a></li>
          <li><a class="button" routerLink="/sobrePortal">Sobre o Portal Aprendiz</a></li>
          <li><a class="button" routerLink="/faq">FAQ</a></li>
          <li><a class="button" routerLink="/politica">Política de Segurança</a></li>
        </ul>
      </nav>

      <a class="button_logoff suporte" routerLink="/logoff">Botao logoff</a>

    </div>
  </div>
