<!-- <div class="fundo-azul">
    <img class="imagem1" style="height: 300px;" src="./assets/imagem1.png">
    <div class="texto">
      <p class="titulo">Portal Aprendiz</p>
  
      <div class="opcoes">
        <p>Cursos</p>
        <p>Sobre o Portal Aprendiz</p>
        <p>FAQ</p>
        <p>Política de Segurança</p>
      </div>
      
    </div>
  </div> -->


  <div class="fundo-azul">
    <img class="imagem1" style="height: 300px;" src="./assets/imagem1.png" alt=" ">
    <div class="texto">
  
      <h1 class="titulo">Portal Aprendiz</h1>
  
      <nav class="opcoes">
        <ul>
          <li><a href="cursos.html">Cursos</a></li>
          <li><a href="portalSuporte.html">Sobre o Portal Aprendiz</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="politicaDeSeguranca.html">Política de Segurança</a></li>
        </ul>
      </nav>
  
    </div>
  
    <!-- <button onclick="telaLogin()" class="botao botao_margem">Entrar</button>
    <button onclick="telaCadastramento()" class="botao">Cadastrar</button> -->
  </div>