.fundo-azul {
    background-color: #87CEEB;
    position: relative;
    height: 101vh;
    width: 35%;
}

.imagem1 {
    top: -5px;
    position: absolute; 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.texto {
    width: 100%;
    position: absolute; 
    top: 420px; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 24px; 
    text-align: left; 
}

.titulo{
    margin-top: 0px;
    margin-left: 20px;
    font-size: 36px;
}

.opcoes{
    margin-left: 30px;
    font-size: 20px;
}

nav {
    color: white;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-top: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }