<h1 class="titulo_principal">Portal Aprendiz</h1>

<div class="container">
  <div class="row">
    <button class="button"><p>Cadastro</p></button>
    <button class="button"><p>Segurança</p></button>
    <button class="button"><p>Cursos</p></button>
  </div>
  <div class="row">
    <button class="button"><p>Certificados</p></button>
    <button class="button"><p>Matricula</p></button>
    <button class="button"><p>FAQ</p></button>
  </div>
</div>


<div class="fale_conosco_whatsapp">
  <p class="whatsapp">Fale Conosco</p>
  <p class="fale_conosco">whatsaap</p>
</div>

<app-icones-inferior-direito></app-icones-inferior-direito>
<app-menu-lateral-com-itens></app-menu-lateral-com-itens>
