.titulo_principal{
    position: absolute;
    top: 15%;
    right: 14%;
    font-size: 60px;
  }


  .form_cadastramento{
    position: absolute;
    left: 54%;
    top: 35%;
    width: 500px;
  }

  .form_cadastramento form input{
    margin-bottom: 20px;
  }

  form label:first-of-type, form input:first-of-type {
    margin-bottom: 20px;
  }

  div form input{
    background-color: #87CEEB;
    width: 65%;
    height: 30px;
  }

  div form label{
    margin-right: 60px;
  }

  form div button{
    background-color: #87CEEB;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-right: 160px;
  }

  .email{
    margin-right: 55px !important;
  }

  button{
    padding: 10px 30px 10px 30px;
    background-color: #87CEEB;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 30px;
    margin-right: 120px;
    text-decoration: none;
  }
