<h1 class="titulo_principal">Portal Aprendiz</h1>

<div class="form_container_login">
  <form class="form">
    <label class="login" for="login">Login:</label>
    <input type="text" id="login" name="login" required>
    <br>

    <label class="senha" for="email">Senha:</label>
    <input type="email" id="email" name="email" required>
    <div class="buttons">
      <a class="button" routerLink="/cadastramento">cadastramento</a>
      <a class="button" routerLink="/areaAluno">Entrar</a>
      <a style="position: absolute; color: #87CEEB; left: 110px; top: 200px;" href="">Esqueceu a senha?</a>
    </div>

  </form>
</div>

<app-menu-lateral></app-menu-lateral>
<router-outlet></router-outlet>
